    {{> headercustomer}}
<div class="container-manager">
    <div class="header__manager">
        <h2>Information of my room</h2>
    </div>
    <div class="content__manager">
        About My room
        <ul>
            <li>Number: {{data.number}}</li>
            <li>Renter: {{data.renter}}</li>
            <li>Number people: {{data.numberpeople}}</li>
            <li>Maximum: {{data.maximum}}</li>
            <li>Area: {{data.area}}</li>
            <li>Price: {{data.price}}</li>
            <li>Description: {{data.description}}</li>
        </ul>
        <br>
        About Device in Rooms
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Indemnify</th>
                <th>description</th>
            </tr>
            <tbody id="devices">

            </tbody>
        </table>
    </div>
</div>

<script src='/script/me/room.js'></script>